<figure style="text-align:center; margin:1.5em auto;">
  <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" style="max-width:100%; display:block; margin:0 auto;">
  {{ with .Get "caption" }}
  <figcaption style="font-size:.85em; color:var(--secondary); margin-top:.5em; text-align:center; font-weight:normal; font-style:italic;">{{ . }}</figcaption>
  {{ end }}
  {{ with .Get "source" }}
  <div style="font-size:.75em; color:var(--secondary); margin-top:.3em; text-align:center;">{{ . | markdownify }}</div>
  {{ end }}
</figure>